$roadcard-columns: 12;
$nav-grid: (
  columns: $roadcard-columns,
  gutter: 0px,
);

.road-map {
  @include grid-container;
  background: $brand-secondary;
  padding-top: 50px;
  width: 100%;
  overflow: hidden;

  h1 {
    background-color: lighten($brand-secondary, 15);
    color: white;
    font-size: 3em;
    padding: 20px 40px;
    margin: 0 auto;
    display: table;
    border-radius: 5px;
    z-index: 5;
  }
  .road-point{
    @include grid-column(3);
    margin: 100px 0;
  }

  button {
    border-radius: 50%;
    border-style: solid;
    font-size: 22px;
    font-weight: 900;
    color: white;
  }
  span {
    margin-top: 42%;
  }
}


.road-card-c {
  @include grid-container;
  @include grid-column($roadcard-columns, $nav-grid);
  overflow: hidden;
  
}
.road-card {
  @include grid-container;
}

.road-img-c {
  width: 100%;
  max-height: 500px;
  position: absolute;
  overflow: hidden;
  img {
    transform: translatey(-200px);
  }
}

.road-info {
  position: absolute;
  z-index: 999;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  width: 80%;
  left: 10%;
  h1 {
    
  }

  h3 {
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    
   }

  p { 
    padding: 20px;
    font-size: 25px;
  }
   

}

.img-overlay{
  opacity: 0.5;
  z-index: 998;
  background-color: $blue;
  background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.4) 50%);
  background-size: 3px 3px;
  position: absolute;
  width: 100%;
  height: 500px;
}


