.tangle-c {
  padding-top: 20px;
  width: 100%;
  .tangle{
    height: 120px;
    margin: 0 auto;
    display: table;
   }
  
  .tangle-text {
    margin-top: 100px;
    background-color: rgba(255,255,255,0.1);
    color: white;
    font-size: 3em;
    padding: 10px 20px;
    margin: 0 auto;
    display: table;
    border-radius: 5px;
    z-index: 5;  
  }
}

$desktop-columns: 12;
$tablet-columns: 8;
$mobile-columns: 4;

$card-grid-desktop: (
  columns: $desktop-columns,
  gutter: 20px,
);

$card-grid-tablet: (
  columns: $tablet-columns,
  gutter: 20px,
);

$card-grid-mobile: (
  columns: $mobile-columns,
  gutter: 20px,
);

#visie {
  background-color: $brand-secondary;  
}

.cards-c {
  width: 100%;
  background-color: $brand-secondary;
  margin-top: 100px;
  .card-tablet {
  }
  .cards-table {

  }

  .cards-mobile {
    @include grid-container;
    .visie-card {
      @include grid-column($mobile-columns, $card-grid-mobile);
    }

  }
  .cards-tablet-c {
    @include grid-container;
    .visie-card {
      @include grid-column($tablet-columns / 2, $card-grid-tablet);
    }
  }
  .cards-desktop {
    @include grid-container;
    .visie-card {
      @include grid-column($desktop-columns / 3, $card-grid-desktop);
    }
  }
}

.visie-card {
  margin: 20px 0;
  background-color: lighten($brand-secondary, 10);
  color: white;
  display: table;
  text-align: center;
  height: 400px;


  .title {
    font-size: 2em;
    margin-top: 20px;
  }
  .text {
    font-size: 1.6em;
    margin: 20px 0;
    padding: 25px 70px;
    
    text-align: left;
    margin-left: 20px;    
  }
  .list {
      font-size: 1.6em;
      margin: 20px 0;
      ul {
        list-style-type: circle;
        list-style-position: inside;
      }
   }
}

.swipe-button {
  position: absolute;
  height: inherit;
  width: inherit;

  button{
    background-color: rgba(255,255,255,0.1);
    border: 0;
    cursor: pointer;
    color: #eeeeee;
    font-Size: 26px;
    height: inherit;
    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }

  button:first-of-type {
    float: left;
    padding-left: 20px;
  }
  button:last-of-type {
    float: right;
    padding-right: 20px;
    
  }
}
