*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#root,
.c
 {
  height: 100%;
}
 
body {
  background: linear-gradient(to bottom left, base-color-lighten(10), base-color-darken(10));
  margin: 0;
  
};

html {
  font-size: responsive 12px 21px;
  font-range: 420px 1280px;
  box-sizing: border-box;
};

.child {
  @util center;
};

