// Typography
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: rgb(51, 51, 51);
$medium-gray: rgb(153, 153, 153);
$light-gray: rgb(221, 221, 221);
$brand-secondary: rgb(45, 60, 83);
$brand-primary-o: rgb(255, 136, 0);
$brand-primary-y: rgb(246, 202, 25);
$brand-primary-bg: linear-gradient(to bottom left, base-color-lighten(10), base-color-darken(10));

@function brand-secondary($amount){
  @return rgba(45, 60, 83, $amount);
}
@function brand-primary-o($amount){
  @return rgba(255, 136, 0, $amount);
}
@function brand-primary-y($amount){
  @return rgba(246, 202, 25, $amount);
}

@function base-color-lighten($amount){
  @return lighten($brand-primary-y, $amount)
}

@function base-color-darken($amount){
  @return darken($brand-primary-o, $amount)
}

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
