$player-height: 700px;

.home-player {
}

.react-player {
  transform: translateY(-25%);
  
 overflow: hidden;
}

.player-wrapper {
  width: 100%;
  overflow: hidden;
}

.ytp-watermark {
  display: none !important;
}

.play-button {
  display: block;
  height: 250px;
  background-color: transparent;
  fill: $brand-secondary;
}
.button-c {
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -200px;
  position: absolute;
  width: 100%;
  height: $player-height;
  z-index: 3;
}

.player-c {
  
  height: $player-height;
  width: 100%;
  overflow: hidden;
 }

 .overlay {
  position: absolute;
  width: 100%;
  height: $player-height;
  opacity: 0.5;
  z-index: 2;
  background-color: $blue;
  background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.4) 50%);
  background-size: 3px 3px;

  &:hover {
    background-color: brand-primary-o(0.5);
  }
}

 .overlay-text {
  font-size: 2em;
  font-weight: 800;
  padding: 10px;
  color: $brand-secondary;
}

.overlay-text-c {
  position: absolute;
  background-color: brand-primary-y(0.5);
  border-radius: 4px;
  margin-top: 200px;
  margin-left: 60%;
  z-index: 5;
}
