.footer { 
  @include grid-container;

  label {
     @include grid-column(4);
     text-align: center;
     font-size: 20px;
     color: $brand-secondary;
     padding: 50px 10px; 
     margin-top: 453px;
    }
}