@import 'logo/logo';

.comming-soon {
  h1 {
    position: absolute;
    text-align: center;
    font-size: 1em; 
    
    width: 100%;
    color: $brand-secondary;
    
    @media screen and (min-width: 700px) {
    font-size: 3em; 
      
    }
  }

  h1:first-of-type {
    top: 5%; 
  }

  h1:last-of-type {
    bottom: 5%; 
  }
  
}
