$lessen-mobile: (
  columns: 12,
  gutter: 20px,
);

$lessen-dekstop: (
  columns: 12,
  gutter: 80px,
);

$lessen-overlay: (
  columns: 12,
  gutter: 0px,
);


#lessen {
  padding-top: 100px;
  @include grid-container;
  background: linear-gradient(to bottom left, base-color-lighten(10), base-color-darken(10));
  color: $brand-secondary;
  text-align: center;


  a {
  @include grid-column(4, $lessen-overlay);
  @media screen and (max-width: 1000px) {
    @include grid-column(12, $lessen-overlay);
  }
    
    padding-top: 65px;
    padding-bottom: 65px;
    font-size: 2em;
    font-weight: 900;
    color: white;
    background-color: brand-secondary(0.4);
    position: absolute;
    &:hover {
      background-color: brand-primary-y(0.4);
    }
  }
}

.group-c {
  @include grid-column(4, $lessen-overlay);
  @media screen and (max-width: 1000px) {
    @include grid-column(12, $lessen-overlay);
  }
 height: 177px;
 overflow: hidden;
}

.lessen-img-c {
  @include grid-container;

  overflow: hidden;
  display: block;
  background-color: white;

}

.head-title {
  padding: 20px 30px;
  font-size: 3em;
  background-color: $brand-secondary;
  display: inline-block;
  color:white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.les-card {
  @include grid-column(4, $lessen-dekstop);

  @media screen and (max-width: 1000px) {
    @include grid-column(12, $lessen-mobile);
  }
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 50px;
  margin-top: 50px;
  .title {
    font-size: 2em;
    margin-top: 20px;
   }
  .text {
    font-size: 1.2em;
    margin: 20px 0;
  }

}