$lessen-mobile: (
  columns: 12,
  gutter: 20px,
);

$lessen-dekstop: (
  columns: 12,
  gutter: 80px,
);

#lessen {
  padding-top: 100px;
  @include grid-container;
  background: linear-gradient(to bottom left, base-color-lighten(10), base-color-darken(10));
  color: $brand-secondary;
  text-align: center;

.head-title {
  padding: 20px 30px;
  font-size: 3em;
  background-color: $brand-secondary;
  display: inline-block;
  color:white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.les-card {
  @include grid-column(4, $lessen-dekstop);
  @media screen and (min-width: 1000px) {
    @include grid-shift(4);
  }

  @media screen and (max-width: 1000px) {
    @include grid-column(12, $lessen-mobile);
  }
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 50px;
  margin-top: 50px;
  .title {
    font-size: 2em;
    margin-top: 20px;
   }
  .text {
    font-size: 1.2em;
    margin: 20px 0;
  }
}
}