$navbar-columns: 12;
$navbar-items: 4;

$navbar-logo-span: 4;
@media screen and (max-width: 1000px) {
  $navbar-logo-span: 2;
}

$navbar-height: 100px;
$navbar-item-span: ($navbar-columns - $navbar-logo-span) / $navbar-items;

$nav-grid: (
  columns: $navbar-columns,
  gutter: 20px,
);

.navbar {
  @include grid-container;
  @include grid-column($navbar-columns, $nav-grid);

  height: $navbar-height;
 
}

.navbar-logo {
  $p: 10px;
  height:  $navbar-height - $p;
  padding-top: $p/2;
}

.navbar-logo-container {
  @include grid-column($navbar-logo-span, $nav-grid);
}

.nav-button {
 
  font-size: 20px;
  text-decoration: none;
 
  color: $brand-secondary;
  &:hover {
      font-weight: 800;
      transition: all 100ms ease-in-out;
  }
}

.nav-desk {
  .nav-button {
    @include grid-column($navbar-item-span, $nav-grid);
    line-height: $navbar-height;
  }
 
}

.nav-mobile {
  overflow: visible;
  z-index: 999;

  .nav-button {
    display: block;
    @include grid-column(12);

  }
}






#nav-icon2 {
  position: absolute;
  right: 5px;
  top: 10px;
}

#nav-icon2 {
  .open{
    position: absolute;
    right: 10px;
    top: 10px;
  }
}



#nav-icon2 {
  margin-top: 10px;
  margin-right: 10px;
  width: 60px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}


/* Icon 2 */

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: $brand-secondary;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}
